.List__item {
  position: relative;
  padding: 0 0 20px;
  list-style: none;
  text-align: center;
  border: 1px solid #000;
}

.ListItem__title {
  font-weight: bold;
  text-transform: uppercase;
}

.ListItem__actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Input__wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0.6em 1.2em;
  margin: 0 auto;
  width: fit-content;
  font-size: 0;
  cursor: pointer;
}

.Hart {
  position: relative;
  left: -5px;
  display: inline-block;
  width: 40px;
  height: 35px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Hart::before,
.Hart::after {
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  height: 35px;
  border-radius: 50px 50px 0 0;
  background: var(--button);
  transition: background 0.3s;
}

.Hart::before {
  left: 20px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.Hart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.Input:checked + .Hart::after,
.Input:checked + .Hart::before {
  background-color: var(--accent);
}

.Input {
  opacity: 0;
  width: 0;
  height: 0;
}

.Backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
