.Header {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px #000;
}

.Search {
  flex: 1;
  justify-content: center;
}

.Main {
  min-height: calc(100vh - 100px - 70px);
}

.Pockemon {
  display: flex;
  height: 100%;
  width: 100%;
}

.Pockemon__main {
  flex: 1;
}

.Pockemon__aside {
  height: 100%;
  max-width: 500px;
}
