@keyframes disappearing {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.ErrorContainer {
  position: absolute;
  top: 50px;
  right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  padding: 0.8em 0.8em 0.8em 1.6em;
  background: rgba(255, 0, 0, 0.2);
  border-radius: 8px;
  animation: disappearing 3s;
}

.ErrorContainer:hover {
  animation-play-state: paused;
}

.ErrorBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 0px;
  font-weight: 100;
  color: red;
  background: transparent;
  border-radius: 50px;
  border: 1px solid transparent;
  transform: rotate(45deg);
  cursor: pointer;
}
