.Search {
  display: flex;
  gap: 15px;
  align-items: center;
}

.Search__input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  transition: border-color 0.25s;
}
